# SPDX-FileCopyrightText: 2024-2025 tinytag Contributors
# SPDX-License-Identifier: MIT

name: REUSE Compliance
on: [push, pull_request]
permissions: {}

jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up cache
        uses: actions/cache@v5
        with:
          path: ~/.cache/pip
          key: reuse

      - name: Install dependencies
        run: python -m pip install reuse

      - name: REUSE compliance
        run: python -m reuse lint
